body{
    background-image: url('képek/hatter3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-kapcs{
    width: 16px;
    height: 16px
}
.navbar-toggler{
    width: 100px;
    height: 100px;
}