body {
    background-image: url('képek/hatter3.png');
    background-size: 1000%;
    background-color: #240931;
}

.border-purple {
    --bs-border-opacity: 1;
    border-color: rgb(204, 123, 204) !important;
}

.btn-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: #b10dfd;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff00c8;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6d0aca;
    --bs-btn-active-border-color: #e48adc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #000000;
    --bs-btn-disabled-border-color: #ffffff;
}

.navbar-kapcs {
    width: 65px;
    height: 65px
}

.navbar-toggler {
    width: 100px;
    height: 100px;
}

.logo {
    width: 50px;
    height: 50px;
}

.navbar {
    background-color: rgb(204, 123, 204);
}

.navbar-nav {
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.5);
}

.navbar-color {
    background-color: rgba(223, 173, 223, 0.5);
}

.cards {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-img-top {
    margin-top: 1%;
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

.hover {
    transition: all 1s ease-in-out;
}

.hover:hover {
    transform: scale(108%);
    transition: 1s;
}

.navhover {
    transition: all 1s ease-in-out;
}

.navhover:hover {
    color: rgb(255, 255, 255);
    opacity: 100%;
    transition: 1s;
    margin-inline: 15px;
    font-weight: 550;
}

.logo {
    transition: all 1s ease-in-out;
}

.logo:hover {
    color: rgb(0, 0, 0);
    opacity: 100%;
    transition: 1s;
    padding: 13px;
}

.navbar-brand {
    font-weight: 550;
}

.navbar-active {
    color: rgb(223, 223, 223);
    font-weight: 550;
}

.container-mid {
    width: 65%;
    background-image: url(képek/lombikhatter.jpg);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 17.5%;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

.main-iras {
    margin-left: 10%;
    margin-right: 10%;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 8%;
}

.welcome-text {
    font-size: larger;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 25%;
    color: white;
}

.container-large {
    width: 70%;
}

.futer {
    width: 100%;
    margin-bottom: 0;
}